# reclaimerr Configuration

# directory to store application data (database, logs, etc.)
DATA_DIR=./data

# admin configuration (REQUIRES one uppercase, one lowercase, one number and one special 
# character, minimum 12 characters)
ADMIN_PASSWORD=AdminTestPw123!

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
CORS_ORIGINS=*

# jwt configuration
JWT_SECRET=CHANGE_ME_IN_PRODUCTION
# JWT_ALGORITHM=HS256

# logging
# LOG_LEVEL=INFO  # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
